
    <% @user_infos.each do |user_info| %>
      <tr>
        <!--<td><%= user_info.name %></td>-->
        <!--<td><%= user_info.e_mail %></td>-->
        <!--<td><%= user_info.company_name %></td>-->
        <!--<td><%= user_info.position %></td>-->
        <!--<td><%= user_info.education %></td>-->
        <!--<td><%= user_info.mark %></td>-->
        <!--<td><%= link_to 'Show', user_info %></td>-->
        <!--<td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>-->
        <!--<td><%= link_to 'Destroy', user_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <% end %>




<%= link_to 'New User info', new_user_info_path %>
