<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_info.name %>
</p>

<p>
  <strong>E mail:</strong>
  <%= @user_info.e_mail %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @user_info.company_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user_info.position %>
</p>

<p>
  <strong>Education:</strong>
  <%= @user_info.education %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @user_info.mark %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
