<%= form_for(@cellphone) do |f| %>
  <% if @cellphone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cellphone.errors.count, "error") %> prohibited this cellphone from being saved:</h2>

      <ul>
      <% @cellphone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </div>
    <div class="field">
    <%= f.label :os %><br>
    <%= f.text_field :os %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
